
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-gauge:before { content: '\e803'; } /* '' */
.icon-chart:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e816'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
